<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แบบฟอร์มบันทึกการกรอกข้อมูลทะเบียนนักศึกษา</title>
    <link href="/style/style.css" rel="stylesheet">
    <script src="/js/js.js"></script>
</head>
<body>
    <section id="form-sign">
        <h2 id="head-form">ฟอร์มการกรอกข้อมูล<br>ทะเบียนนักศึกษา</h2>
        <form id="body-form">
            <div class="container-ID marginInput" id="container-IDPerson"></div>
            <div class="container-ID marginInput" id="container-IDStudent"></div>
            <div class="marginInput ct-flex">
                <div class="ct-gendar">
                    <label class="marginInput radio-box">
                        <input type="radio" name="prefixName" id="prefixMale">
                        นาย
                    </label>
                    <label class="marginInput radio-box">
                        <input type="radio" name="prefixName" id="prefixNameWife">
                        นาง
                    </label>
                    <label class="marginInput radio-box">
                        <input type="radio" name="prefixName" id="prefixNameFamale">
                        นางสาว
                    </label>
                </div>
                <input style="width: 78%;" class="width-100" type="text" id="fullname" placeholder="ชื่อและนามสกุล">
            </div>
            <div class="marginInput ct-flex">
                <input class="width-100" type="email" id="email" placeholder="อีเมล">
            </div>
            <div class="marginInput">
                <select class="sp-3" id="faculty" style="color:#757575;">
                    <option disabled selected value="0">คณะที่ทำการศึกษา</option>
                    <option value="วิศวกรรมศาสตร์" style="color: black;">วิศวกรรมศาสตร์</option>
                    <option value="สถาปัตยกรรม" style="color: black;">สถาปัตยกรรม</option>
                </select>
                <span class="boxBrithday">
                    <input class="sp-3" type="text" id="birthday" readonly placeholder="วันเกิด">
                    <input class="sp-3" type="date" id="birthdayInput" placeholder="วันเกิด">
                </span>
                <select class="sp-3" id="gendar" style="color:#757575;">
                    <option disabled selected value="0">เพศ</option>
                    <option style="color: black;" value="male">ชาย</option>
                    <option style="color: black;" value="famale">หญิง</option>
                </select>
            </div>
            <div class="marginInput ct-flex" style="flex-direction: column;">
                <label class="img-st">
                    <input type="file" id="input-img" accept=".jpg , .png">
                    รูปภาพนักศึกษา
                </label>
                <br>
                <img id="exImg" src="RMUTT.png" width="100px">
            </div>
            <label class="marginInput" style="cursor: pointer;">
                <input type="checkbox" id="imNotRobot">
                ฉันไม่ใช่หุ่นยนต์
            </label>
            <div class="marginInput">
                <button type="submit">บันทึก</button>
                <button type="reset">ยกเลิก</button>
            </div>
        </form>
    </section>
</body>
</html>