<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แบบฟอร์มบันทึกการกรอกข้อมูลทะเบียนนักศึกษา</title>
    <%- include('js.ejs') %>
    <%- include('style.ejs') %>
</head>
<body>
    <section id="form-sign">
        <h2 id="head-form">แบบฟอร์มการกรอกข้อมูล<br>ทะเบียนนักศึกษา</h2>
        <form id="body-form">
            <div class="container-ID marginInput" id="container-IDPerson"></div>
            <div class="container-ID marginInput" id="container-IDStudent"></div>
            <div class="marginInput">
                <input class="width-100" type="text" id="fullname" placeholder="ชื่อและนามสกุล">
            </div>
            <div>
                <span class="marginInput">
                    <input type="radio" name="prefixName" id="prefixMale">
                    <label for="prefixMale">นาย</label>
                </span>
                <span class="marginInput">
                    <input type="radio" name="prefixName" id="prefixNameWife">
                    <label for="prefixNameWife">นาง</label>
                </span>
                <span class="marginInput">
                    <input type="radio" name="prefixName" id="prefixNameFamale">
                    <label for="prefixNameFamale">นางสาว</label>
                </span>
            </div>
            <div class="marginInput">
                <input class="width-100" type="email" id="email" placeholder="อีเมล">
            </div>
            <div class="marginInput">
                <select class="sp-3" id="faculty">
                    <option value="0">คณะที่ทำการศึกษา</option>
                    <option value="male">วิศวกรรมศาสตร์</option>
                    <option value="famale">สถาปัตยกรรม</option>
                </select>
                <span class="boxBrithday">
                    <input class="sp-3" type="text" id="birthday" readonly placeholder="วันเกิด">
                    <input class="sp-3" type="date" id="birthdayInput" placeholder="วันเกิด">
                </span>
                <select class="sp-3" id="gender">
                    <option value="0">เพศ</option>
                    <option value="male">ชาย</option>
                    <option value="famale">หญิง</option>
                </select>
            </div>
            <div class="marginInput">
                <input type="file" accept=".jpg">
            </div>
            <div class="marginInput">
                <input type="checkbox" id="imNotRobot">
                <label for="imNotRobot">ฉันไม่ใช่หุ่นยนต์</label>
            </div>
            <div class="marginInput">
                <button type="submit">บันทึก</button>
                <button type="reset">ยกเลิก</button>
            </div>
        </form>
    </section>
</body>
</html>